body{
    background-color: rgb(32, 32, 32);
}

.logs {
    display: flex;
    justify-content: space-between;
}

.chat-log{
    width: 40vw;
    border: 1px solid black;
}

.chat-message{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.chat-message:nth-child(even) {
    background-color: rgb(141, 253, 216);
}

.chat-message:nth-child(odd) {
    background-color: rgb(173, 255, 228);
}

.chat-message > .author > span {
    font-weight: bold;
}

.chat-message > .message {
    max-width: 90%;
}